<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.wedding.invitation</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/hongkim/.nvm/versions/node/v24.13.1/bin/node</string>
    <string>/Users/hongkim/Projects/wedding_invitation/server/index.js</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/hongkim/Projects/wedding_invitation</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/hongkim/Projects/wedding_invitation/data/server.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/hongkim/Projects/wedding_invitation/data/server.error.log</string>
</dict>
</plist>
